@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.button {
    background-color: #25D366;
    color: white;
    font-weight: normal;
    border-radius: var(--card-radius);
    width: fit-content;
    height: 5rem; 
    font-size: 1.6rem; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0rem 1rem;
    height: 100%;
    text-align: center;
    text-decoration: none; 

    @include isMobile{
      font-size: var(--title-size-sm);
    }
    
  }