@import "./theme/Default.module.scss";
@import "./theme/Utils.module.scss";

.section_eight{
    height: 100vh;
    width: 100vw;
    background-color: var( --color-primary);
    background-image: url('/images/team2.png');
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    @include isMobile{
        background-position: 0;
    }
}

.sub_title{
    @extend %text-gradient-primary;
    @extend %title-xl;
    
    @include isMobile{
        font-size: var(--title-size-md);
    }
}

.products_container{
    width: 80vw;
    @include isMobile{
        width: 100vw;
        padding: 1rem;
    }
}

.autoplay_progress {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--color-primary);
  }
  
  .autoplay_progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--color-primary);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  