@import "./theme/Default.module.scss";
@import "./theme/Utils.module.scss";

.section_six{
    width: 100vw;
    background-color: var( --color-surface);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    @include isMobile{
        height: fit-content;
        background-position: 0;
        background-image: none;
    }
}

.section_six_container{
    width: 80vw;
    text-align: center;
    @include isMobile{
        width: 100vw;
        padding: 1rem;
        text-align: left;

    }
}

.sub_title{
   color: var(--color-primary);
    @extend %title-xl;
    @include isMobile{
        font-size: var(--title-size-md);
    }
}

.description{
    font-size: var(--title-size-md);
    color: var(--color-primary);
    @include isMobile{
        font-size: var(--title-size-sm);
    }
}

.buttons_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    gap: 1.5rem;
}

.section_six_video{
    flex: 1;
    border-radius: .3rem;

    & video::-webkit-media-controls-timeline {
        display: none;
      }
      
    & video::-webkit-media-controls-panel {
    width: calc(100% + 20px);
    margin-left: -10px;
    }

    & .video{
        height: 350px;
        width: auto;
        border-radius: inherit;

        

        @include isMobile{
            width: 100%;
            height: auto;
        }
    }
}

