@import "./theme/Default.module.scss";
@import "./theme/Utils.module.scss";

.section_six{
    width: 100vw;
    min-height: 100vh;
    background-color: var( --color-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    @include isMobile{
        height: fit-content;
        background-position: 0;
        background-image: none;
    }
}

.section_six_container{
    width: 80vw;
    text-align: center;
    @include isMobile{
        width: 100vw;
        padding: 1rem
    }
}

.sub_title{
    @extend %text-gradient-primary;
    @extend %title-xl;
    @include isMobile{
        font-size: var(--title-size-md);
    }
}

.description{
    font-size: var(--title-size-md);
    color: var(--color-surface);
}

.buttons_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    gap: 1.5rem;
}

