@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.card_hover_secondary {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative; 
    cursor: pointer;
    border-radius: var(--card-radius);
    padding: .3rem;
    font-size: var(--text-size);
}

.card_hover_secondary_title{
    flex: 2;
    display: flex;
    align-items: center;
    color: var(--color-surface);
    text-align: center;
    font-size: var(--title-size-sm);
}

/* .card_hover_secondary:hover .card_hover_secondary_services_container{
    height: 100%; 
    display: flex;

}
.card_hover_secondary:hover .card_hover_secondary_text_container{
    height: 100%; 
}
 */
.card_hover_secondary_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%; 
    transition: height 0.3s ease; 
    height: 40%;
    @extend %text-container-blur;
    padding: .3rem;
    border-radius: var(--card-radius);
}

.card_hover_secondary_services_container{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.3s ease; 
    flex: 10;

}

.card_hover_secondary_services_list{
    padding: 1rem;
    list-style: none;

    & li{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & .card_hover_secondary_service_item{
        font-size: 1rem;
        margin-top: .5rem;
    }
}

.card_hover_secondary_footer{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_hover_secondary_footer_btn_container{
    flex: 1;
    width: 100%;
}


