


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import "./Default.module.scss";
@import "./Utils.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include default;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, button{
  font-family: 'Source Serif 4', serif;
}


.bpw-floating-button{
  float: left !important;
}

#bp-web-widget{
  z-index: 10000 !important;
}


@media only screen and (max-width: 901px){
 
}

